<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>lulz</title>
  <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
      <div class="youtube-fetcher" id="myApp" ng-app="myApp" ng-controller="ntYoutubeFetch">
            <div class="controls">
               <input type="text" ng-model="vidID" class="youtube-id" placeholder="Video ID, ie: RubBzkZzpUA"/>
               <div class="youtube-fetcher-submit button" ng-click="fetch(vidID)" title="Fetch youtube video from ID">Fetch</div>
                <div class="button remove-video" title="remove this video" ng-click="r = null">✕</div>
            </div>
            <div class="notification"></div>
            <title>index</title>
            <div class="response" ng-if="r">
                <h1 class="video-title">{{r.snippet.snippet.title}}</h1>
                <a class="video-preview" ng-href="http://www.youtube.com/watch?v={{r.id}}" target="_blank">
                 <img class="video-thumbnail" ng-src="{{r.snippet.thumbnails.high.url}}"/>
                </a>
                <p class="video-description">{{r.snippet.description}}</p>              
            </div>
        </div>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>